name: Test Simple Workflow

on:
  push:
    branches:
      - dummy-from

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Simple test
        run: echo "Workflow works"
